.modalContent {
    background-color: #fefefe;
    display: none;
    margin: 10%;
    padding: 20px;
    border: 1px solid rgb(117, 196, 238);
    box-shadow: -1px 15px 39px -8px rgba(0,0,0,0.75);
    transition: all 500ms;
    flex-direction: row;
}

#aboutModal {
    display: grid;
    grid-template-areas: "close close"
                         "head head"
                         "pic text"
}

#closeAbout {
    grid-area: close;
    display: block;
    cursor: pointer;
    font-size: 2em;
    width: 48px;
    height: 48px;
}

#aboutHead {
    grid-area: head;
    margin: auto;
    margin-bottom: .15em;
}

#headshot {
    grid-area: pic;
    margin: auto;
    max-height: 272px;
    max-width: 272px;
}



#aboutdetail {
    grid-area: text;
    height: auto;
    width: 85%;
    margin: auto;
    padding: 1em;

}

.gray {
    margin-top: 1em;
    margin-bottom: 1em;
    color: gray;
    font-weight: bold;
}