#aboutModal {
    display: grid;
    grid-template-areas: "head"
                         "text"
}

#aboutHead {
    grid-area: head;
    margin: auto;
    margin-bottom: .15em;
}

#headshot {
    display: none;
}

mat-dialog-content {
    margin: .1em;
}

#aboutdetail {
    grid-area: text;
    height: auto;
    width: 85%;
    margin: auto;
    padding: 1em;

}

.gray {
    margin-top: 1em;
    margin-bottom: 1em;
    color: gray;
    font-weight: bold;
}

@media screen and (min-width: 720px) {
    #aboutModal {
        display: grid;
        grid-template-areas: "head head"
                             "pic text"
    }

    #headshot {
        display: grid;
        grid-area: pic;
        max-height: 272px;
        max-width: 272px;
    }
}