<div id="aboutModal" class= "modalContent">
    <span routerLink="" id="closeAbout">&times;</span>
    <h1 id="aboutHead">About William</h1>
    <img src="../assets/headshot.jpg" id="headshot" alt="headshot of William">
    <span id="aboutdetail">
        <p class='gray'>I’m a California native, replanted from Chicago.</p>
        <p>
        I started from the ground up, working helpdesk to get through college.

        After moving to California I found myself doing Windows/Linux system administration.
        From there, I managed a help desk team. Finally I worked on deployment automation,
        particularly for Atlassian applications running on RHEL/CentOS servers.

        I’ve come back around and am writing Python. I'm currently enrolled in a Udacity nanodegree
        for front end development courtesy of Google via the Grow With Google scholarship.
        I’m comfortable with Postgres and T-SQL. Bash and Powershell. Javascript, HTML, and CSS.
        </p>
        <p class='gray'>Thanks for stopping by and let’s get in touch!</p>
    </span>
</div>