<div id="projectModal" class="modalContent">
    <span id="closeProject">&times;</span>
    <h1 id="workHead">Recent work</h1>
    <h2>Front End</h2>
    <ul class="project-list">
            <li class="list-item">
                    <a href="https://magic-kingdom.herokuapp.com/" id="projectLink">Welcome to the Magic Kingdom</a>
                    <div class="projectDetail">Draws Magic Kingdom attraction locations on a Google map. Will also display attraction details from Foursquare when selected.</div>
                </li>
        <li class="list-item">
                <a href="https://my-reads-f8615.firebaseapp.com/" id="projectLink">My Reads</a>
                <div class="projectDetail">Simple React GoodReads clone to keep track of books you've read, books you want to read, and books you're currently reading.</div>
            </li>
        <li class="list-item">
            <a href="https://wgeorgecook.github.io/arcade-game/" id="projectLink">Frogger Clone</a>
            <div class="projectDetail">Cross the grass and reach the water! Avoid bugs along the way.</div>
        </li>
    </ul>
    <h2>Back End</h2>
    <ul class="project-list">
        <li class="list-item">
            <a href="https://twitter.com/trumpsratings" id="projectLink">@trumpratings on Twitter</a>
            <div class="projectDetail">Culls @readDonaldTrump's twitter feed and latest Gallup approval ratings. Retweets latest post with latest ratings.</div>
        </li>

        <li class="list-item">
            <a href="https://github.com/wgeorgecook/reddit-facebook-integrator" id="projectLink">Reddit/Facebook Sharing Integration</a>
            <div class="projectDetail">Will message latest upvoted Reddit post to a Facebook user of your choice</div>
        </li>
    </ul>
</div>