.modalContent {
    background-color: #fefefe;
    margin: 10%;
    padding: 20px;
    border: 1px solid rgb(117, 196, 238);
    box-shadow: -1px 15px 39px -8px rgba(0,0,0,0.75);
    transition: all 500ms;
    flex-direction: row;
}

#contactModal {
    text-align: center;
}

#closeContact {
    display: block;
    cursor: pointer;
    font-size: 2em;
    width: 48px;
    height: 48px;
    margin-right: 80%;
}