<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>William Cook!</title>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Pacifico'>

  </head>
  <body>
      <div id="background">
        <header class="container">
                <span class="item" id="name">William George Cook</span>
                <span class="item" id="navbar">
                      <span id="navContact">
                          <p routerLink="contact" id="contactBtn">Contact</p>
                      </span>
                </span>
            </header>
        </div>
    </body>
    <script src="js/page.js"></script>
</html>

<router-outlet></router-outlet>