/* You can add global styles to this file, and also import other style files */

 /* Whole App Styles */
 html {
    width: 100%;
    height: 100%;
    background-color: rgb(117, 196, 238); /* Hex is #4286f4 */
    background-image: url("assets/leaves-pattern.png");
    background-repeat: repeat;
}

h1 {
    order: 0;
    font-family: Pacifico, Helvetica, sans-serif;
    font-size: 66px;
}